
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// colors
.l-game-wrapper {
	position: fixed;
	top: 0;
	left:0;
	height:100%;
	width:100%;
}

.c-ui-buttons {
	position: absolute;
	top: 10px;
	right:10px;
	button {
		padding: 6px;
		margin-left: 5px;
		border: 1px solid hsl(0,0%,88);
		background: white;
		cursor: pointer;
	}
}

.c-data{
	position: absolute;
	top: 10px;
	left:10px;
	p {
		margin: 0;
		font-size: 13px;
	}
}

.c-player {
	position: absolute;
	bottom:20px;
	left:14px;
	background: lightgrey;
	height:12px;
	width:12px;
	border-radius: 50%;
}

.c-item { 
	position: absolute;
	// bottom:20px;
	// left:200px;
	background: lightgrey;
	height:12px;
	width:12px;
}

$bg-elem-width: 50px;
$bg-elem-margin: 40px;
$repeatWidth: $bg-elem-width + ($bg-elem-margin *2);
$transition-time-per-bg-elem: 1.5s;

@keyframes background-move {
	0% {transform: translateX(0)}
	100% {transform: translateX(-#{$repeatWidth})}
}

.c-bg {
	position: fixed;
	bottom: 0;
	left:0;
	width:100%;
	display: flex;
	z-index: -1;
	&__elem {
		width:$bg-elem-width;
		height:80px;
		margin: 0 $bg-elem-margin;
		background: hsl(0,0%,94);
		flex: 0 0 auto;
	}	
}

.c-bg-trans {
	animation: background-move $transition-time-per-bg-elem infinite linear;
}

.c-floor {
	position: absolute;
	top:100%;
	transform: translateY(-100%);
	background: lightgrey;
	height:8px;
	width:100%;
}