body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.l-game-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.c-ui-buttons {
  position: absolute;
  top: 10px;
  right: 10px; }
  .c-ui-buttons button {
    padding: 6px;
    margin-left: 5px;
    border: 1px solid #e0e0e0;
    background: white;
    cursor: pointer; }

.c-data {
  position: absolute;
  top: 10px;
  left: 10px; }
  .c-data p {
    margin: 0;
    font-size: 13px; }

.c-player {
  position: absolute;
  bottom: 20px;
  left: 14px;
  background: lightgrey;
  height: 12px;
  width: 12px;
  border-radius: 50%; }

.c-item {
  position: absolute;
  bottom: 20px;
  left: 300px;
  background: lightgrey;
  height: 12px;
  width: 12px; }

@keyframes background-move {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-130px); } }

.c-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: -1; }
  .c-bg__elem {
    width: 50px;
    height: 80px;
    margin: 0 40px;
    background: #f0f0f0;
    flex: 0 0 auto; }

.c-bg-trans {
  animation: background-move 1.5s infinite linear; }

.c-floor {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  background: lightgrey;
  height: 8px;
  width: 100%; }
